@charset "EUC-KR";

#wrap {
	width:1200px;
	height: 800px;
}

.main-menu {
	width: 300px;
	height: 800px;
}

.contents {
	width: 900px;
	height: 800px;
}

.contents > .main-contents {
	height: 200px;
}

footer {
	width: 1200px;
	height: 200px;
}